#about {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.me {
    position: absolute;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 65vh;
    border-radius: 2rem;
}

.aboutContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introName {
    color: lightblue
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

@media screen and (max-width:840px) {
    .bg {
        right: -10vw
    }
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
    
}

@media screen and (max-width:480px) {
    .bg {
        right: -20vw
    }
}