/* Style for resume section */
.resume {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

.pdf {
    display: none;
}

.pdf-full {
    display: block;
}

.pdf-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:600px) {
    .pdf-container {
        width: 95%;
        margin: .5rem;
    }
    .pdf {
        display: block;
    }
    .pdf-full {
        display: none;
    }
}