#about {
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.me {
    margin-right: 4rem;
    object-fit: cover;
    height: 65vh;
    border-radius: 2rem;
}

.aboutContent {
    height: 80vh;
    width: 50vw;
    padding: 2rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introName {
    color: lightblue;
}

.title {
    color: lightblue;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

@media screen and (max-width:840px) {
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
    
}

@media screen and (max-width:600px) {
    #about {
        flex-direction: column;
    }
}

@media screen and (max-width:480px) {
    .me {
        display: none;
    }
}